{% extends 'base.html' %}

{% block content %}
{{ request.user }}  {{ request.user.online_wallet }}

<div class="login-link">
    <a href="{% url 'logout' %}">Logout</a>
</div>

<div class="products">
    {% for obj in object_list %}
    <div class="product-item">
        <div class="product-field">
            <span class="product-field-name">Имя</span>
            <span class="product-field-description">{{ obj.product_name }}</span>
        </div>
        <div class="product-field">
            <span class="product-field-name">Описание</span>
            <span class="product-field-description">{{ obj.product_description }}</span>
        </div>
        <div class="product-field">
            <span class="product-field-name">Количество</span>
            <span class="product-field-description">{{ obj.product_count }}</span>
        </div>
        <div class="product-field">
            <span class="product-field-name">Цена</span>
            <span class="product-field-description">{{ obj.product_price }}</span>
        </div>
        <div>{{ obj.image }}</div>
        <form method="post" action="{% url 'product-update' obj.pk %}">
            {% csrf_token %}
            <input type="submit" value="Update">
        </form>
    </div>
    {% endfor %}
</div>
<form method="post" action="{% url 'product-create' %}">
    {% csrf_token %}
    {{ create_form }}
    <input type="submit" value="Create">
</form>
{% endblock %}